/**
 * ----------------------------------------
 * animation bounce
 * ----------------------------------------
 */
 .bounce {
	-webkit-animation: bounce 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
	        animation: bounce 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both infinite;
}
@-webkit-keyframes bounce {
    0% {
        height: var(--bounce-floor);
    }
    20% {
        height: var(--bounce-air);
    }
    75% {
        height: var(--bounce-floor);
    }
    100% {
        height: var(--bounce-floor);
    }
}
@keyframes bounce {
    0% {
        height: var(--bounce-floor);
    }
    20% {
        height: var(--bounce-air);
    }
    75% {
        height: var(--bounce-floor);
    }
    100% {
        height: var(--bounce-floor);
    }
}
