/*        btn        */
.my-btn{
    background:none ;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: var(--xs) var(--m);
    border: 4px solid #0000;
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
/**
    HOVER
*/
.my-btn:hover{
    border: 4px solid;
}
.my-btn.btn-blur:hover{
    box-shadow: 0 0 var(--blurcard-box-shadow-size) var(--blurcard-box-shadow-color);
    backdrop-filter: blur(var(--blurcard-blur-size));
    background-color: var(--blurcard-background-color);
}

/* links */
.my-card-link{
    position: relative;
    margin-right: 15px;
    color: var(--primary);
}
.my-card-link::before{
    content: '';
    position: absolute;
    top:2px;left: 100%;
    border: 1.5px solid;
    border-bottom: 1px;
    border-left: 1px;
    height: 5px;
    aspect-ratio: 1/1;
}
.my-card-link:hover.my-card-link::before{
    content: '';
    top:0px;left: 100%;
}

/* text-gradient */
.text-gradient{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-text-gradient{
    background: var(--accent-alpha-07);
    -webkit-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
.bg-text-gradient-btn:hover{
    background: var(--accent);
}

/* blurred card */
.blur-card{
    box-shadow: 0 0 var(--blurcard-box-shadow-size) var(--blurcard-box-shadow-color);
    backdrop-filter: blur(var(--blurcard-blur-size));
    background-color: var(--blurcard-background-color);
}

/* bg */
.bg-gradient{
    background-image: var(--gradient-bg) !important;
}
.bg-accent-soft{
    background-color: var(--accent-soft) !important;
}
.bg-accent-comp-soft{
    background-color: var(--accent-comp-soft) !important;
}

/* text */
.text-accent-soft{
    color: var(--accent-soft) !important;
}
.text-accent-comp-soft{
    color: var(--accent-comp-soft) !important;
}