:root{
    /* blur card */
    --blurcard-box-shadow-size: 25px;
    --blurcard-box-shadow-color: #68646433;
    --blurcard-blur-size: 7px;
    --blurcard-background-color: #ffffff33;

    /* sizes */
    --xxs: .5rem;
    --xs : .8rem;
    --s  :  1rem;
    --m  :  1.4rem;
    --l  :  2rem;
    --xl :  2.5rem;
    --xxl:  3.2rem;

    --gap-size:15px;
    
    /* solid colors */
    --accent:#000;
    --accent-comp:#fff;
    --accent-soft:#222;
    --accent-comp-soft:#ddd;
    /* alpha solid colors */
    --accent-alpha-07:#000b;

    /* gradients */
    --quepal-linear-gradient : linear-gradient(#61a59f, #250075);
    --deep-space-linear-gradient : linear-gradient(#000000, #434343);
    --gradient-bg:radial-gradient(
        circle at 0% 0%,
        #ff2a0099,
        #0000ff00 30.71%
    ),radial-gradient(
        circle at 23.3% 75%,
        #ffffffcc,
        #ff00e600 50.71%
    ), radial-gradient(
        circle at 50% 85%,
        #ff2a00,
        #0000ff00 80.71%
    ),radial-gradient(
        circle at 8.3% 80%,
        #00ffbb,
        #703a6b00 105.71%
    ),radial-gradient(
        circle at 70% 80%,
        #ffffff,
        #ff000000 80%
    ),radial-gradient(
        circle at 20% 100%,
        #ffffff,
        #ff000000 60%
    ), radial-gradient(
        circle at 50% 0%,
        #ffffff,
        #ff000000 70%
    ), radial-gradient(
        circle at 80% 5%,
        #ff2a00,
        #0000ff00 20.71%
    ),radial-gradient(
        circle at 100% 100%,
        #00ffbb,
        #ff00e600 50.71%
    );
}